html {
	background: #EEEEEE;
	color: #000000;
}
body {
	font-family: "Trebuchet MS", Trebuchet, serif;
	font-size: 10pt;
}
a {
	color: #FF6600;
}
a:hover {
	color: #FF3300;
}
hr {
	border: none;
	border-top: 1px solid #DDDDDD;
}
.aheader {
	color: #8899AA;
}
.adminbar {
	text-align: right;
	clear: both;
	float: right;
}
.adminbar a, .aheader a {
	text-decoration: none;
}
.logo {
	clear: both;
	text-align: center;
	font-size: 32px;
	font-weight: bold;
	color: #FF6600;
}
.theader, .passvalid {
	background: #DDDDDD;
	color: #2266AA;
	font-weight: bold;
	text-align: center;
	border: 1px solid #CCCCCC;
}
.postarea {
}
.rules {
	font-size: 10px;
}
.postblock {
	/* background: #DDDDDD; */
	/* border: 1px solid #CCCCCC; */
	color: #002244;
	padding: 3px 5px;
	font-weight: bold;
}
.footer {
	font-size: 12px;
	text-align: center;
}
.dellist {
	font-weight:  bold;
	text-align: center;
}
.delbuttons {
	text-align: center;
	padding-bottom: 4px;
}
.managehead {
	background: #DDDDDD;
	font-size: 14px;
	padding: 0px;
}
.postlists {
	background: #FFFFFF;
	width: 100%;
	padding: 0px;
}
.row1 {
	background: #DDDDDD;
}
.row2 {
	background: #CCCCCC;
}
.unkfunc {
	background: inherit;
	color: #789922;
}
.filesize {
	text-decoration: none;
}
.filetitle, .replytitle {
	background: inherit;
	color: #0F0C5D;
	font-weight: bold;
}
.postername, .commentpostername {
	color: #004A99;
	font-weight: bold;
}
.postertrip {
	color: #004A99; /* #FF3300 */
}
.oldpost {
	color: #CC1105;
	font-weight: bold;
}
.omittedposts, .abbrev {
	color: #707070;
}
.reply {
	background-color: #DDDDDD;
	border: 1px solid #CCCCCC;
	padding: 2px;
}
.doubledash {
 	display: none;
}
.thumbnailmsg {
	font-size: 10px;
}
.highlight {
	background-color: #CCCCCC;
	border: 1px solid #CCCCCC;
	padding: 2px;
}
input[type="text"], input[type="password"], textarea {
	margin: 0px;
	padding: 2px 4px 3px 4px;
	border: 1px solid #AAA;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
	margin: 0px;
	padding: 2px 4px 3px 4px;
	border: 1px solid #EEAA88;
}
table[border="1"] {
	background: #DDDDDD;
	border: solid #CCCCCC;
	border-width: 1px;
	color: #333333;
	padding: 0 6px;
}
table[border="1"] a {
	text-decoration: none;
}
table[border="1"] td {
	border: none;
	padding: 2px;
}
/* uncomment this if you want the incremental numbers like dvach/kharkach/sosach
body.replypage { counter-reset:postcount; counter-increment:postcount; }
body.replypage .reply .reflink:before {	counter-increment: postcount; content: "#" counter(postcount); color: #789922 !important; margin-left: 2px; margin-right: 2px; } 
*/
