html {
	background: #1D1F21;
	color: #C5C8C6;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
a {
	color: #81A2BE;
}
a:hover {
	color: #5F89AC;
}
hr {
	border: none;
	border-top: 1px solid #282A2E;
}
.aheader {
	color: #C5C8C6;
}
.adminbar {
	text-align: right;
	clear: both;
	float: right;
}
.adminbar a, .aheader a {
	text-decoration: none;
}
.logo {
	clear: both;
	text-align: center;
}
.logoTitle {
	font-family: Tahoma, sans-serif;
	font-size: 28px;
	font-weight: bold;
	letter-spacing: -2px;
}
.logoSubtitle {
	font-size: 10px;
}
.theader {
	background: #111111;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
}
.postarea {
}
.rules {
	font-size: 10px;
}
.postarea table {
	border-spacing: 1px;
}
.postblock {
	background: #282A2E;
	border: 1px solid #111111;
	padding: 3.5px 5px;
	font-weight: bold;
}
.footer {
	font-size: 12px;
	text-align: center;
}
.passvalid {
	background: #111111;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
}
.dellist {
	font-weight:  bold;
	text-align: center;
}
.delbuttons {
	text-align: center;
	padding-bottom: 4px;
}
.managehead {
	background: #111111;
	font-size: 14px;
	padding: 0px;
}
.postlists {
	background: #FFFFFF;
	width: 100%;
	padding: 0px;
}
.row1 {
	background: #282A2E;
}
.row2 {
	background: #1D1D21;
}
.unkfunc {
	background: inherit;
	color: #B5BD68;
}
.filesize {
	text-decoration: none;
}
.filetitle, .replytitle {
	background: inherit;
	color: #B294BB;
	font-weight: bold;
}
.postername, .commentpostername {
	color: #C5C8C6;
	font-weight: bold;
}
.postertrip {
	color: #C5C8C6;
}
.oldpost {
	color: #CC1105;
	font-weight: bold;
}
.omittedposts, .abbrev {
	color: #707070;
}
.reply {
	background-color: #282A2E;
	border: 1px solid #282A2E;
	border-top: none; border-left: none;
	padding: 2px;
}
.doubledash {
	color: #C5C8C6;
}
.thumbnailmsg {
	font-size: 10px;
}
.highlight {
	background-color: #1D1D21;
	border: 1px solid #111111;
	padding: 2px;
}
.quotelink {
	color: #5F89AC;
}
input[type="text"], input[type="password"], textarea {
	margin: 0px;
	padding: 2px 4px 3px 4px;
	border: 1px solid #AAA;
	outline: none;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
	margin: 0px;
	padding: 2px 4px 3px 4px;
	border: 1px solid #000;
	outline: none;
}
table[border="1"] {
	background: #282A2E;
	border: 1px solid #111111;
	color: #C5C8C6;
	padding: 0 6px;
}
table[border="1"] a {
	text-decoration: none;
}
table[border="1"] td {
	border: none;
	padding: 2px;
}
