html {
	background: #FFFFEE url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADICAIAAACmkByiAAAAXElEQVQokWP6d209EwMDAxJmZGJgZMAUQ+YzYhGD8Rlx6cGinii1jDjsxKKfHDXodhFlBgE9+ORR1GKazUi02YT8Q5x9JMsTHYYE1OBKRzjV4YsXdLtwpCvS0zYA7wsEfTvcT98AAAAASUVORK5CYII=') repeat-x 50% 0%;
	color: #800000;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
a {
	color: #0000EE;
}
a:hover {
	color: #DD0000;
}
hr {
	border: none;
	border-top: 1px solid #D9BFB7;
}
.aheader {
	color: #BB8866;
}
.adminbar {
	text-align: right;
	clear: both;
	float: right;
}
.adminbar a, .aheader a {
	text-decoration: none;
}
.logo {
	clear: both;
	text-align: center;
	font-family: Tahoma, sans-serif;
	font-size: 28px;
	font-weight: bold;
	color: #800000;
	letter-spacing: -2px;
}
.theader {
	background: #E04000;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
}
.postarea {
}
.rules {
	font-size: 10px;
}
.postarea table {
	border-spacing: 1px;
}
.postblock {
	background: #EEAA88;
	border: 1px solid #800000;
	padding: 3px 5px;
	font-weight: bold;
}
.footer {
	font-size: 12px;
	text-align: center;
}
.passvalid {
	background: #EEAA88;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
}
.dellist {
	font-weight:  bold;
	text-align: center;
}
.delbuttons {
	text-align: center;
	padding-bottom: 4px;
}
.managehead {
	background: #AAAA66;
	color: #000000;
	font-size: 14px;
	padding: 0px;
}
.postlists {
	background: #FFFFFF;
	width: 100%;
	padding: 0px;
}
.row1 {
	background: #EEEECC;
}
.row2 {
	background: #DDDDAA;
}
.unkfunc {
	background: inherit;
	color: #789922;
}
.filesize {
	text-decoration: none;
}
.filetitle, .replytitle {
	background: inherit;
	color: #CC1105;
	font-weight: bold;
}
.postername, .commentpostername {
	color: #117743;
	font-weight: bold;
}
.postertrip {
	color: #117743;
}
.oldpost {
	color: #CC1105;
	font-weight: bold;
}
.omittedposts, .abbrev {
	color: #707070;
}
.reply {
	background-color: #F0E0D6;
	border: 1px solid #D9BFB7;
	border-top: none; border-left: none;
	padding: 2px;
}
.doubledash {
	color: #E0BFB7;
 	vertical-align: top;
	clear: both;
	float: left;
}
.thumbnailmsg {
	font-size: 10px;
}
.highlight {
	background-color: #F0C0B0;
	border: 1px solid #D99F91;
	border-top: none; border-left: none;
	padding: 2px;
}
.quotelink {
	color: #000080;
}
.postinput {
	margin: 0px;
	padding: 2px 4px 3px 4px;
	border: 1px solid #AAA;
	outline: none;
}
.postinput:focus {
	margin: 0px;
	padding: 2px 4px 3px 4px;
	border: 1px solid #EA8EA8;
	outline: none;
}
table[border="1"] {
	background: #F0E0D6;
	border: solid #D9BFB7;
	border-width: 0 1px 1px 0;
	color: #BB8866;
	padding: 0 6px;
}
table[border="1"] a {
	text-decoration: none;
}
table[border="1"] td {
	border: none;
	padding: 2px;
}
