html {
	background: #EEF2FF url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADICAIAAACmkByiAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAE5JREFUKJFjunj1HRMDAwNWzMiILsZIpDpcarDrx28GI17zUeUYiXITLrdg08PISKyfGfGYgT38cLkRm50Dbx9944KYdIUrbohNV0SoAwD1FwRwgMmDbgAAAABJRU5ErkJggg==') repeat-x 50% 0%;
	color: #000000;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
a {
	color: #34345C;
}
a:hover {
	color: #DD0000;
}
hr {
	border: none;
	border-top: 1px solid #B7C5D9;
}
.aheader {
	color: #8899AA;
}
.adminbar {
	text-align: right;
	clear: both;
	float: right;
}
.adminbar a, .aheader a {
	text-decoration: none;
}
.logo {
	clear: both;
	text-align: center;
	font-family: Tahoma, sans-serif;
	font-size: 28px;
	font-weight: bold;
	color: #AF0A0F;
	letter-spacing: -2px;
}
.theader {
	background: #0010E0;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
}
.postarea {
}
.rules {
	font-size: 10px;
}
.postarea table {
	border-spacing: 1px;
}
.postblock {
	background: #9988EE;
	border: 1px solid #000000;
	padding: 3px 5px;
	font-weight: bold;
}
.footer {
	font-size: 12px;
	text-align: center;
}
.passvalid {
	background: #9988EE;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
}
.dellist {
	font-weight:  bold;
	text-align: center;
}
.delbuttons {
	text-align: center;
	padding-bottom: 4px;
}
.managehead {
	background: #0F8FE1;
	font-size: 14px;
	padding: 0px;
}
.postlists {
	background: #FFFFFF;
	width: 100%;
	padding: 0px;
}
.row1 {
	background: #9AD2F6;
}
.row2 {
	background: #FFFFFF;
}
.unkfunc {
	background: inherit;
	color: #789922;
}
.filesize {
	text-decoration: none;
}
.filetitle, .replytitle {
	background: inherit;
	color: #0F0C5D;
	font-weight: bold;
}
.postername, .commentpostername {
	color: #117743;
	font-weight: bold;
}
.postertrip {
	color: #117743;
}
.oldpost {
	color: #CC1105;
	font-weight: bold;
}
.omittedposts, .abbrev {
	color: #707070;
}
.reply {
	background-color: #D6DAF0;
	border: 1px solid #B7C5D9;
	border-top: none; border-left: none;
	padding: 2px;
}
.doubledash {
	color: #B7C5D9;
 	vertical-align: top;
	clear: both;
	float: left;
}
.thumbnailmsg {
	font-size: 10px;
}
.highlight {
	background-color: #D6BAD0;
	border: 1px solid #BA9DBF;
	border-top: none; border-left: none;
	padding: 2px;
}
.quotelink {
	color: #DD0000;
}
input[type="text"], input[type="password"], textarea {
	margin: 0px;
	padding: 2px 4px 4px 4px;
	border: 1px solid #AAA;
	outline: none;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
	margin: 0px;
	padding: 2px 4px 4px 4px;
	border: 1px solid #9988EE;
	outline: none;
}
table[border="1"] {
	background: #D6DAF0;
	border: solid #B7C5D9;
	border-width: 0 1px 1px 0;
	color: #8899AA;
	padding: 0 6px;
}
table[border="1"] a {
	text-decoration: none;
}
table[border="1"] td {
	border: none;
	padding: 2px;
}
