html {
	background: #1E1E1E;
	color: #999999;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
a {
	color: #CCCCCC;
	text-decoration: none;
}
a:hover {
	color: #FFFFFF;
}
hr {
	border: none;
	border-top: 1px solid #333333;
}
.aheader {
	color: #999999;
}
.adminbar {
	text-align: right;
	clear: both;
	float: right;
}
.adminbar a, .aheader a {
	text-decoration: none;
}
.logo {
	clear: both;
	text-align: center;
	color: #32DD72;
}
.logoTitle {
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	font-size: 28px;
	font-weight: bold;
	letter-spacing: -2px;
}
.logoSubtitle {
	color: #AF0A0F;
	font-size: 11px;
}
.theader {
	background: #32DD72;
	color: #000000;
	font-weight: bold;
	text-align: center;
}
.postarea {
}
.rules {
	font-size: 10px;
}
.postblock {
	background: #333333;
	color: #AAAAAA;
	padding: 3.5px 5px;
	font-weight: bold;
}
.footer {
	font-size: 12px;
	text-align: center;
}
.passvalid {
	background: #32DD72;
	color: #000000;
	font-weight: bold;
	text-align: center;
}
.dellist {
	font-weight:  bold;
	text-align: center;
}
.delbuttons {
	text-align: center;
	padding-bottom: 4px;
}
.managehead {
	background: #32DD72;
	color: #000000;
	font-size: 14px;
	padding: 0px;
}
.postlists {
	background: #FFFFFF;
	width: 100%;
	padding: 0px;
}
.row1 {
	background: #333333;
}
.row2 {
	background: #555555;
}
.unkfunc {
	background: inherit;
	color: #B8D962;
}
.filesize {
	text-decoration: none;
}
.filetitle, .replytitle {
	background: inherit;
	color: #446655;
	font-weight: bold;
}
.postername, .commentpostername {
	color: #32DD72;
	font-weight: bold;
}
.postertrip {
	color: #AAAAAA;
}
.postername a, .commentpostername a, .postertrip a {
	color: #32DDAF;
	text-decoration: none;
}
.oldpost {
	color: #CC1105;
	font-weight: bold;
}
.omittedposts, .abbrev {
	color: #707070;
}
.reply {
	background-color: #333333;
	border: 1px solid #555555;
	padding: 2px;
}
.doubledash {
}
.thumbnailmsg {
	font-size: 10px;
}
.highlight {
	background-color: #555555;
	border: 1px solid #555555;
	padding: 2px;
}
input[type="text"], input[type="password"], textarea {
	background: #333333;
	color: #CCCCCC;
	border: 1px solid #666666;
	margin: 0px;
	padding: 2px 4px 3px 4px;
	outline: none;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
	margin: 0px;
	padding: 2px 4px 3px 4px;
	border: 1px solid #AAAAAA;
	outline: none;
}
table[border="1"] {
	background-color: #333333;
	border: 1px solid #555555;
	color: #AAAAAA;
	padding: 0 6px;
}
table[border="1"] a {
	text-decoration: none;
}
table[border="1"] td {
	border: none;
	padding: 2px;
}
.reflink a:hover {
	color: #32DD72 !important;
	text-decoration: underline overline;
}
blockquote a:hover {
	color: #32DD72;
}
input[type="submit"], input[type="reset"] {
	background: #333333;
	border: #888888 1px solid;
	color: #CCCCCC;
}
input[type="submit"]:hover, input[type="reset"]:hover {
	background: #555555;
	border: #888888 1px solid;
	color: #32DD72;
}
.nothumb a {
	color: #333333;
}
