html {
	background: #ECE9E2;
	color: #000000;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
a {
	color: #702802;
}
a:hover {
	text-decoration: none;
}
hr {
	border: none;
	border-top: 1px solid #706B5E;
}
.aheader {
	color: #706B5E;
}
.adminbar {
	text-align: right;
	clear: both;
	float: right;
}
.adminbar a, .aheader a {
	text-decoration: none;
}
.logo {
	clear: both;
	text-align: center;
}
.logoTitle {
	font-family: sans-serif;
	font-size: 26px;
	font-weight: bold;
}
.theader {
	background: #706B5E;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
}
.postarea {
}
.rules {
	font-size: 10px;
}
.postarea table {
	border-spacing: 1px;
}
.postblock {
	background: #706B5E;
	color: #FFFFFF;
	padding: 3.5px 5px;
	font-weight: bold;
}
.postinput {
	margin: 0px;
	padding: 2px 4px 3px 4px;
	border: 1px solid #706B5E;
	outline: none;
}
.footer {
	font-size: 12px;
	text-align: center;
}
.passvalid {
	background: #706B5E;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
}
.dellist {
	font-weight:  bold;
	text-align: center;
}
.delbuttons {
	text-align: center;
	padding-bottom: 4px;
}
.managehead {
	background: #706B5E;
	color: #FFFFFF;
	font-size: 14px;
	padding: 0px;
}
.postlists {
	background: #FFFFFF;
	width: 100%;
	padding: 0px;
}
.row1 {
	background: #D7CFC0;
}
.row2 {
	background: #BFB5A1;
}
.unkfunc {
	background: inherit;
	color: #BD3000;
}
.filesize {
	text-decoration: none;
}
.filetitle, .replytitle {
	background: inherit;
	color: #B20000;
	font-weight: bold;
	font-size: 15px;
}
.replytitle {
	font-size: 14px;
}
.postername, .commentpostername {
	color: #635537;
	font-weight: bold;
}
.postertrip {
	color: #635537;
}
.oldpost {
	color: #CC1105;
	font-weight: bold;
}
.omittedposts, .abbrev {
	color: #707070;
	font-style: italic;
}
.reply {
	background-color: #D7CFC0;
	border: 1px solid #BFB5A1;
	border-top: none; border-left: none;
	padding: 2px;
}
.doubledash {
	color: #707070;
}
.thumbnailmsg {
	font-size: 10px;
}
.postcaptcha {
	color: #706B5E;
}
.highlight {
	background-color: #BFB5A1;
	border: 1px solid #BFB5A1;
	border-top: none; border-left: none;
	padding: 2px;
}
table[border="1"] {
	background: #D7CFC0;
	border: solid #BFB5A1;
	border-width: 0 1px 1px 0;
	padding: 0 6px;
}
table[border="1"] a {
	text-decoration: none;
}
table[border="1"] td {
	border: none;
	padding: 2px;
}
