html {
	background: #EEEEEE;
	color: #000000;
}
body {
	font-family: sans-serif;
	font-size: 10pt;
}
a {
	color: #222299;
}
a:hover {
	color: #992222;
}
.adminbar {
	text-align: right;
	clear: both;
	float: right;
}
.logo {
	clear: both;
	text-align: center;
	font-family: sans-serif;
	font-size: 26px;
	font-weight: bold;
}
.theader {
	background: #313370;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
}
.postarea {
}
.rules {
}
.postblock {
	background: #313370;
	color: #FFFFFF;
	padding: 3px 5px;
	font-weight: bold;
}
.postinput {
}
.footer {
	font-size: 12px;
	text-align: center;
}
.passvalid {
	background: #313370;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
}
.dellist {
	font-weight:  bold;
	text-align: center;
}
.delbuttons {
	text-align: center;
	padding-bottom: 4px;
}
.managehead {
	background: #313370;
	color: #FFFFFF;
	font-size: 14px;
	padding: 0px;
}
.postlists {
	background: #FFFFFF;
	width: 100%;
	padding: 0px;
}
.row1 {
	background: #AAAACC;
}
.row2 {
	background: #FFFFFF;
}
.unkfunc {
	background: inherit;
	color: #007777;
}
.filesize {
	text-decoration: none;
}
.filetitle, .replytitle {
	background: inherit;
	color: #CC3333;
	font-weight: bold;
	font-size: large;
}
.postername, .commentpostername {
	color: #3333CC;
	font-weight: bold;
}
.postertrip {
	color: #3333CC;
}
.oldpost {
	color: #CC1105;
	font-weight: bold;
}
.omittedposts, .abbrev {
	color: #707070;
}
.reply {
	background-color: #AAAACC;
}
.doubledash {
 	vertical-align: top;
	clear: both;
	float: left;
}
.thumbnailmsg {
	font-size: 10px;
}
.highlight {
	background-color: #AAAACC;
	border: 2px dashed #444488;
}
.reflink a:hover {
	color: #000000;
	font-weight: bold;
}
