html {
	background: #EEFFEE;
	color: #000000;
}
a {
	color: #345C34;
	text-decoration: none;
}
a:hover {
	color: #117743;
	text-decoration: underline;
}
.adminbar {
	text-align: right;
	clear: both;
	float: right;
}
.logo {
	clear: both;
	text-align: center;
	color: #117743;
}
.logoTitle {
	font-size: 2em;
	width: 100%;
}
.logoSubtitle {
	font-size: small;
}
.theader {
	background: #DAF0D6;
	font-weight: bold;
	text-align: center;
	padding: 0px;
}
.postarea {
}
.rules {
	font-size: 0.7em;
}
.postblock {
	background: #88DD88;
	color: #000000;
	font-weight: bold;
}
.footer {
	text-align: center;
	font-size: 12px;
}
.passvalid {
	background: #99EE88;
	color: #FFFFFF;
	text-align: center;
	padding: 0px;
}
.dellist {
	font-weight: bold;
	text-align: center;
}
.delbuttons {
	text-align: center;
	padding-bottom: 4px;
}
.managehead {
	background: #0F8FE1;
	background: #0FE18F;
	padding: 0px;
}
.postlists {
	background: #FFFFFF;
	width: 100%;
	padding: 0px;
}
.row1 {
	background: #9AF6D2;
}
.row2 {
	background: #FFFFFF;
}
.unkfunc {
	background: inherit;
	color: #117743;
}
.filesize {
	text-decoration: none;
}
.filetitle, .replytitle {
	background: inherit;
	font-size: 1.2em;
	color: #0F5D0C;
	font-weight: bold;
}
.postername, .commentpostername {
	color: #117743;
	font-weight: bold;
}
.postertrip {
	/* color: #117743; */
}
.oldpost {
	color: #CC1105;
	font-weight: bold;
}
.omittedposts {
	color: #070707;
	font-size: 18px;
	font-weight: bold;
}
.reply {
	background: #DAF0D6;
	color: #000000;
}
.doubledash {
	vertical-align: top;
	clear: both;
	float: left;
}
.thumbnailmsg {
	font-size: small;
	color: #000000;
}
.highlight {
	background: #D6DAF0;
	border: 2px dashed #9988EE;
}
textarea[name="field4"] {
	width: 380px;
}
