html {
	background: #23201F;
	color: #DDD6D3;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
a {
	color: #959494;
	text-decoration: none;
}
a:hover {
	color: rgba(222, 113, 97, 0.88);
	text-shadow: 0px 0px 3px #ad0000;
}
hr {
	border: none;
	border-top: 1px solid #866F6F;
}
.aheader {
	color: #3E3E3E;
}
.adminbar {
	text-align: right;
	clear: both;
	float: right;
}
.adminbar a, .aheader a {
	text-decoration: none;
}
.logo {
	clear: both;
	text-align: center;
	font-family: Tahoma, sans-serif;
	font-size: 28px;
	font-weight: bold;
	color: #C7C7C7;
	letter-spacing: -2px;
}
.theader {
	background: #54443D;
	color: #CEC6C6;
	font-weight: bold;
	text-align: center;
}
.postarea {
}
.rules {
	font-size: 10px;
}
.postarea table {
	border-spacing: 1px;
}
.postblock {
	background: #696969;
	border: 1px solid #000000;
	padding: 3px 5px;
	font-weight: bold;
}
.postinput {
	margin: 0px;
	padding: 2px 4px 3px 4px;
	border: 2px solid #171717;
	outline: none;
}
.footer {
	font-size: 12px;
	text-align: center;
}
.passvalid {
	background: #54443D;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
}
.dellist {
	font-weight:  bold;
	text-align: center;
}
.delbuttons {
	text-align: center;
	padding-bottom: 4px;
}
.managehead {
	background: #696969;
	font-size: 14px;
	padding: 0px;
}
.postlists {
	background: #FFFFFF;
	width: 100%;
	padding: 0px;
}
.row1 {
	background: #3E3737;
}
.row2 {
	background: #54443D;
}
.unkfunc {
	background: inherit;
	color: #789922;
}
.filesize {
	text-decoration: none;
}
.filetitle, .replytitle {
	background: inherit;
	color: #E68B8B;
	font-weight: bold;
}
.postername, .commentpostername {
	color: #C72323;
	font-weight: bold;
}
.postertrip {
	color: #C72323;
}
.postername a, .commentpostername a, .postertrip a {
	color: #F76BA3;
}
.postername a:hover , .commentpostername a:hover , .postertrip a:hover {
	color: #FF98C6;
}
.oldpost {
	color: #CC1105;
	font-weight: bold;
}
.omittedposts, .abbrev {
	/* color: #707070; */
}
.reply {
	background-color: #3E3737;
	border: 2px solid #1A1717;
	border-top: none; border-left: none;
	padding: 2px;
}
.doubledash {
	/* color: #B7C5D9; */
 	vertical-align: top;
	clear: both;
	float: left;
}
.thumbnailmsg {
	font-size: 10px;
}
.highlight {
	background-color: #6A4D43;
	border: 1px solid #BA9DBF;
	padding: 2px;
}
.quotelink {
	color: #DD0000;
}
table[border="1"] {
	background: #4A4A4A;
	border-width: 0 1px 1px 0;
	border-right: 1px solid #2d2d2d; border-bottom: 1px solid #171717;
	color: #BDBABA;
	padding: 0 6px;
}
table[border="1"] a {
	text-decoration: none;
}
table[border="1"] td {
	border: none;
	padding: 2px;
}
